<div class="col-md-6">
  <div class="row">
    <h2>Hi {{user.first_name}}!</h2>
  </div>
  <div class="row">
    <h3>On {{sleep.date}}, you slept for a total of {{sleep.hours}} and spent {{sleep.rem_sleep}} hours in REM!</h3>
    <br>
    <h3>On the same day, you recorded being {{sleep.mood}}</h3>
  </div>
</div>